html {
    height: 100%
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

label {
    font-weight: bold;
}

#dropdowns {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.transparency {
    opacity: .9;
}

.dropdownDiv {
    flex-grow: 1;
    width: 150px;
}

#map-canvas {
    height: 100%
}

#user-controls {
    height: 50px;
    width: 100%
}

select {
    width: 150px;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#filtersDiv {
    padding: 10px;
    position: absolute;
    left: 120px;
    top: 10px;
    z-index: 99;
    background-color: white;
    width: 650px;
    height: 100px;
}

#resultsListDiv {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 99;
    background-color: white;
    width: 200px;
    height: 400px;
}

#mapDiv {
    height: 100%;
    width: 100%;
}

#searchbar {
    margin-top: 5px;
    margin-left: 10px;
}


