html {
    height: 100%
}

a {
    text-decoration: underline;
    color: lightgray;
    cursor: pointer;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

label, span {
    font-weight: bold;
    color: #FF520E;
}

th {
    color: #FF520E;
}

select {
    width: 150px;
}

#resultsHeader, #filterResultsHeader {
    color: #FF520E;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#dropdowns, #searchBar {
    margin-top: 5px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#map-canvas {
    height: 100%
}

#user-controls {
    height: 50px;
    width: 100%
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#filtersDiv {
    padding: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 99;
    background-color: #494949;
    width: 650px;
    height: 100px;
}

#filtersVisibilityTrigger {
    display: none;
}

#resultsListDiv {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    background-color: #494949;
    width: 260px;
    height: 400px;
}

#mapDiv {
    height: 100%;
    width: 100%;
}

#minArrow2 {
    display: none;
}

#manualLocationDiv {
    position: absolute;
    z-index: 110;
    background-color: #494949;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 200px;
    height: 100px;
    padding: 15px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#manualLocationInput, #searchInput {
    width: 95%;
}

#manualActions {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#manualActions > button {
    margin: 5px;
}

#infoWindow {
    max-width: 400px;
}

#infoWindowImageDiv {
    float: left;
    margin-top: 10px;
    margin-right: 10px
}

#infoWindowLocationTitle{
    float: left;
}

#infoWindowHeading, #infoWindowReviewCount {
    margin-top: 0;
}

#infowWindowRatingImage {
    width: 84px;
    height: 17px;
    margin: 0;
}

#infoWindowContent {
    clear: both;
}

#infoWindowReviewerImage {
    height: 50px;
    width: 50px;
    float:left;
    margin-right: 10px;
}

.modal {
    display: none;
}

.modalDisplay {
    background-color: gray;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
}

.transparency {
    opacity: .9;
}

.dropdownDiv, .searchDiv {
    flex-grow: 1;
    width: 150px;
}

.searchView {
    color: lightgray;
}

.orangeButton {
    height: 40px;
    width: 100px;
    background-color: #FF520E;
    border: 0 rgba(0,0,0,0);
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
}

.orangeButton:hover{
    background-color: #FF200E;
    cursor: pointer;
}

.margin-bottom {
    margin-bottom: 10px;
}

.gmnoprint {
    display: none;
}

.infoWindowImage {
    height: 100px;
    width: 100px;
}