@media screen and (max-width: 900px){
	#resultsListDiv {
		display: none;
	}
}

@media screen and (max-width: 700px){
	#filtersDiv {
		left: 0px;
		top: 0px;
		width: 100%;
	}
}

@media screen and (max-width: 540px){
	#dropdowns, #searchBar {
		flex-direction: column;
		align-items: flex-start;
	}

	#filtersDiv {
		height: 230px;
		width: 50%;
	}

	.dropdownDiv, .searchDiv {
		padding: 2px;
	}
}